VITE_TMDB_READ_TOKEN = your_tmdb_read_token

VITE_OAUTH_CLIENT_ID = your_oauth_client_id
OAUTH_CLIENT_SECRET = your_oauth_client_secret

VITE_SUPABASE_PROJECT_URL = your_supabase_project_url
VITE_SUPABASE_PUBLISHABLE_KEY = your_supabase_publishable_key
SUPABASE_SECRET_KEY = your_supabase_secret_key

DB_PASSWORD = your_database_password